@charset "utf-8";
/* CSS Document */
/* Wrriten By Tushar Deshmukh 26 Feb 2017 @UXExpert*/
body{
		background:url(../../images/bg_login_page.jpg)100% 5%; 
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}

.login_box_header{ margin:45px 5px 50px 110px; color:#282d77; }

#login_trouble_div{ display:none}